<footer id="footer" class="sticky-bottom">
        <div class="container">
            <h3>Prakash Natural</h3>
            <p>Entregando</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
            <div class="copyright">
            &copy; Copyright <strong><span>FanoD3c</span></strong>. Todos los derechos reservados.
            </div>
            <!-- CREDITOS POR CREAR EL SITIO -->
            <div class="credits">
                Diseñado con <b>Bootstrap</b> por <a href="https://www.instagram.com/fanod3c/"><b>@FanoD3c</b></a>
            </div>
        </div>
    </footer>

     <div class="container-fluid">
        <div class="container_socialMedia">
            <div class="box_socialMedia">
                <div class="icon_socialMedia insta_socialMedia">
                    <i class="bi bi-instagram"> </i>
                </div>
                <a style="color: rgb(88, 213, 235);" href="https://www.instagram.com/fanod3c/">
                    <p>Instagram</p>
                </a>
            </div>
            <div class="box_socialMedia">
                <div class="icon_socialMedia face_socialMedia">
                    <i class="bi bi-facebook"></i>
                </div>
                <p>Facebook</p>
            </div>
            <div class="box_socialMedia">
                <div class="icon_socialMedia twitt_socialMedia">
                    <i class="bi bi-twitter"></i>
                </div>
                <p>Twitter</p>
            </div>
            <div class="box_socialMedia">
                <div class="icon_socialMedia wsp_socialMedia">
                    <i class="bi bi-whatsapp"></i>
                </div>
                <a rel="noopener"
                    href="https://wa.me/+56972389065?text=Hola,%20FanoD3c%20¿Quiero%20realizar%20un%20proyecto%20informatico,%20y%20me%20interesan%20tus%20habilidades,%20estas%20disponible%20para%20hablar?"
                    target="_blank">
                    <p>Whatsapp</p>
                </a>

            </div>
        </div>
    </div>
    <!-- SCROLL TOP / BACK TO TOP -->
    <button type="button" class="btn btn-dark btn-floating btn-lg" id="btn-back-to-top">
        <i class="bi bi-arrow-up-short"></i>
    </button>

    {{!-- SCRIPTS --}}
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- POPPER.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP 4.1.1 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- BOOTRAP BUNDLE -->
    <!-- <script src="assets/js/bootstrap/js/bootstrap.bundle.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- BOOTRAP BUNDLE -->
    <!-- <script src="assets/js/bootstrap/js/bootstrap.bundle.js.map" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- BOOTSTRAP JS -->
    {{!-- <script src="assets/js/bootstrap/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> --}}
    <!-- BOOTSTRAP  -->
    {{!-- INSTAFEED CDN --}}
    <script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>

    <!-- BOOTSTRAP 4.1.1 -->
   <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



    {{!-- BACKTO TOP --}}
    <script src="../public/assets/js/backtotop.js"></script>