 <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Bootstrap 5 - FanoD3c</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> DIseñado y desarrollado por <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">FanoD3c </a> </span>
            </div>
          </footer>
           <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../public/assetsAdmin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../public/assetsAdmin/js/off-canvas.js"></script>
    <script src="../public/assetsAdmin/js/hoverable-collapse.js"></script>
    <script src="../public/assetsAdmin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->