{{!-- GALERIA INSTAFEED -> FACEBOOK DEVELOPERS -> FANOD3C -> PROYECT -> feedInstagram: Este es el nombre dle proyecto  --}}
<link rel="stylesheet" href="/assets/css/styleInstafeed.css">

{{>header titutle="Galeria - PRAKASH"}}

<body>
    {{!-- INSTAFEED  --}}
    {{!-- <div class="container-fluid">
        <h2>SIGUENOS EN INSTAGRAM</h2>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 <div id="instafeed-container"></div>
            </div>
        </div>
    </div> --}}
    {{!-- FIN INSTAFEED --}}
    
    <div class="container-fluid">
        <h1>SIGUENOS EN INSTAGRAM</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="elfsight-app-76dfad64-34d4-4daa-b73d-3f182f6cb478"></div>
            </div>
        </div>
    </div>
    
        
</body>
{{>footer}}

{{!-- INSTAFEED LOGIC --}}
<script src="../public/assets/js/instafeedPrakash.js"></script>

{{!-- EXTENSION EIFIGHT LIGHTS / INSTAFEED  --}}
<script src="https://apps.elfsight.com/p/platform.js" defer></script>